.home {
    height: calc(100% - 140px);
    width:100%;
    background-color: yellow;
    padding:30px;
    display: inline-flex;
    flex-direction: row;

    &_title1 {
        font-size:30px;
        font-weight: bold;
    }
    &_pic{
        width:50%;
    }
    &_descript{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width:50%;
    }
}