
 @font-face {
    font-family: "Fredoka";
    font-display: fallback;
  
    src: url("./Fredoka-Regular.ttf") format("truetype"), url("./Fredoka-Regular.woff")
        format("woff"), url("./Fredoka-Regular.eot?iefix") format("embedded-opentype");
  
    font-weight: 400;
    font-style: normal;
} 

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: normal;
    src: url('./NotoSansKR/NotoSansKR-Regular.otf');
  }
  @font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: bold;
    src: url('./NotoSansKR/NotoSansKR-Bold.otf');
  }
  @font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 200;
    src: url('./NotoSansKR/NotoSansKR-Light.otf');
  }
  
  