.proficiency{
    display: flex;
    flex-direction: row;
    padding:20px 10px;
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
    height: calc(100vh - 200px);
    > * {
        flex: 1 1;
        margin-bottom: 30px;
    }
    &_image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_content{
        text-align: left;
        &-title{
            font-size: 60px;
        }
        &-item{
            line-height: 3.4vw;
            margin-bottom: 20px;
            &--name{
                font-size: 20px;
            }
            &--bar{
                height: 20px;
                position: relative;
                background: #f3efef;
                border-radius: 25px;
                > span {
                    display: block;
                    height: 100%;
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    background-color: #aaa5ff;
                    position: relative;
                    overflow: hidden;
                }
            }
        }
    }
}
@media screen and (max-width: 1131px){
    .proficiency{
        flex-direction: column-reverse;;
        align-items: center;
        padding: 10px 0px;
        height: calc(100vh - 55px);
        width: 90%
    }
    .proficiency_content{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .proficiency_content-title{
        font-size: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right:auto;
    }
    .proficiency_image{
        width: 90%;
    }
    .proficiency_content-item--name{
        margin-bottom: 8px;
    }
}