body {
  margin: 0;
  font-family: 'NotoSansKR';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
span{
  font-family: 'NotoSansKR';
}
html{
	scroll-behavior: smooth;
}