$white: #fff !default;
$purple-300: #b292ff !default;
$green-500: #5fb9b0 !default;
$gray-gradient: #e9ecef !default;
$gray-300: #c8c8c8 !default;
$gray-400: #6f6f6f !default;
$gray-700: #272727 !default;
$gray-800: #131313 !default;
$gray-900: #0c0c0d !default;
$black: #1e1e1e !default;
