.layout{
    height:100%;
    width:100%;
}
.header {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    &-mainIcon{
        display: inline-flex;
        align-items: center;
        font-size: 1.5em;
        line-height: normal;
        background: none;
        border:none;
        cursor: pointer;
        font-family: "Fredoka";
        color: #88abff;
        text-decoration: none;
        .png {
            color: #88abff;
            font-family: "Fredoka";
            font-weight: bold;
            font-feature-settings: "liga", "clig off";
            font-variant-ligatures: no-common-ligatures;
            -webkit-font-variant-ligatures: no-common-ligatures;
            padding: 0 10px;
        }
    }
    &-menus{
        padding: 0 10px;
        align-items: center;
        display: flex;
        transition: max-height 0.2s ease-out;
       &--item{
            display: block;
            padding: 10px 15px;
            color: #000000;
            text-decoration: none;
            background-color: transparent;
            border: none;
            max-height: none;
            font-size: 19px;
            cursor: pointer;
            border-radius: 10px;
            &:hover{
                background-color: #f4f4f4;
            }
        }
    } 
    &-darkLight{
        margin-left:auto;
        margin-right: 0;
        background: transparent;
        border:none;
        width: 48px;
        height: 48px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: all 0.2s ease-out;

        cursor:pointer;
        &:hover{
        background-color: rgba(255,255,255,0.1) !important;
        }
    }
    @media screen and (max-width: 1131px) {
        .header-menus{
            display: none;
        }
    }
    @media screen and (min-width: 1131px){
        .menu,
        .header-hamburger
        {
            display: none;
        }
    }
    &-hamburger{
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 48px;
        height: 48px; 
        border-radius: 10px;
        transition: all 0.2s ease-out;

        &:hover{
            background-color: #f4f4f4;
        }
    }   
}
.BaseLayoutOutside{
    display: flex;
    flex-direction: column;
    padding:30px;
    height: 100%;
    width: 100%;
}
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-bottom: 1rem;
    > span{
        margin: 16px 0;        
        color: #868e96 !important;
        font-size: 18px;
    }
}
.heartIcon{
    height: 1em; 
    width: 1em; 
    margin: 0px 0.05em 0px 0.1em; 
    vertical-align: -0.1em;
}
// .headAction{
//     position: fixed;
//     top: 0px;
//     left: 0px;
//     right: 0px;
//     z-index: 1;
//     transform: translate3d(0px, 0px, 0px);
//     transition: all 0.2s ease-in-out 0s;
// }
// .headWrapper{
//     height: 86px;
//     max-height: 100px;
// }

.menu{
    max-height: 486px;
    clear:both;
    position: absolute;
    top: 70px;
    background: white;
    width: 90%;
    text-align-last: left;
    padding-left: 0;
    z-index: 300;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.2s ease-in-out 0s;
    > li{
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;    
    }
}

.base{
    position: relative;
}
.upScrollbtn{
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 0px;
    width: 170px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 25px;
    transition: all 0.3s ease-in-out 0s;
        &:hover{
            transition: all 0.3s ease 0s;
            transform: translateY(-3px);
        }
  }