.layout{
    height:100%;
    width:100%;
}
.header {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    &-mainIcon{
        display: inline-flex;
        align-items: center;
        font-size: 1.5em;
        line-height: normal;
        background: none;
        border:none;
        cursor: pointer;
        font-family: "Fredoka";
        color: #88abff;
        text-decoration: none;
        .png {
            color: #88abff;
            font-family: "Fredoka";
            font-weight: bold;
            font-feature-settings: "liga", "clig off";
            font-variant-ligatures: no-common-ligatures;
            -webkit-font-variant-ligatures: no-common-ligatures;
            padding: 0 10px;
        }
    }
    &-menus{
//        width: calc(100% - 40px);
        padding: 0 10px;
        //flex:auto;
        display: flex;
        margin-left: auto;
        transition: max-height 0.2s ease-out;
       &--item{
            display: block;
            padding: 10px 15px;
            color: #000000;
            text-decoration: none;
            background-color: transparent;
            border: none;
            max-height: none;
            font-size: 19px;
            cursor: pointer;
            &:hover{
                background-color: #f4f4f4;
            }
        }
    } 
    @media screen and (max-width: 1131px) {
        .header-menus{
            display: none;
        }
    }
    @media screen and (min-width: 1131px){
        .header-hamburger{
            display: none;
        }
    }
    &-hamburger{
        background-color: transparent;
        border: none;
        margin-left: auto;
        cursor: pointer;
        padding: 20px; 
        &:hover{
            background-color: #f4f4f4;
        }
    }   
}
.BaseLayoutOutside{
    display: flex;
    flex-direction: column;
    padding:30px;
    height: 100%;
    width: 100%;
}
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-bottom: 1rem;
    > span{
        margin: 16px 0;        
        color: #868e96 !important;
        font-size: 18px;
    }
}
.heartIcon{
    height: 1em; 
    width: 1em; 
    margin: 0px 0.05em 0px 0.1em; 
    vertical-align: -0.1em;
}
// .headAction{
//     position: fixed;
//     top: 0px;
//     left: 0px;
//     right: 0px;
//     z-index: 1;
//     transform: translate3d(0px, 0px, 0px);
//     transition: all 0.2s ease-in-out 0s;
// }
// .headWrapper{
//     height: 86px;
//     max-height: 100px;
// }