.projects{
    display: flex;
    flex-direction: column;
    padding:20px 10px;
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
    height: calc(100vh - 100px);
    align-items: flex-start;

    &_title{
        font-size: 60px;
    }
    &_container{
        width: 100%;
        height: inherit;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem 1rem;
        gap: 1rem 1rem;
        margin-top:20px;
        > *  {
            flex: 1 1;
            margin-right: 30px;
        }
        &--card{
            box-shadow: rgb(0 0 0 / 20%) 0px 10px 30px -15px;
            transition: all 0.3s ease;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 10px;
            border: 1px solid rgba(211, 211, 211, 0.397);
            justify-content: center;
            width: 90%;
            cursor: pointer;
            &:hover{
                box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px -10px;
            }
            &-banner{
                background-position: center;
                background-repeat: no-repeat;
                background-size: 150%;
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
                border-radius: 10px 10px 0px 0px;
                -moz-filter: blur(0px);
                -o-filter: blur(0px);
                -ms-filter: blur(0px);
                filter: blur(0px);
                height: 10rem;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                background-color: #aaa5ff;
            } 
            &-company{
                position: absolute;
                background: transparent;
                height: 9rem;
                top: 0;
                left: 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 25px;
                font-weight: 700;
                text-align: center;
            } 
            &-detail{
                padding: 1.5rem;
                height: 80%;
            }
            &-role{
                text-align: center;
                color: #000000;
                font-weight: 700;
                font-size: 25px;
                margin: 0px;
                padding-top: 1.5rem;
                line-height: normal;
            }
            &-date{
                text-align: center;
                color: #000000;
                font-size: 20px;
                margin: 0px;
                padding-top: 1rem;
                font-weight: 600;
            }
            &-subtitle{
                color:#868e96;
                margin: 19px 0;
                font-weight: 600;
                font-size: 18px;
                &-li{
                    color:#868e96;
                    margin: 10px 0;
                }
            }

        }
    
    }
    &-roundedimg{
        position: absolute;
        object-fit: cover;
        left: 0;
        right: 0;
        top: 7rem;
        margin-left: auto;
        margin-right: auto;
        width: 8rem;
        height: 8rem;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
        border-radius: 50%;
        object-fit: scale-down;
        background-color: white;
    }
    &_modal{
        &-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            margin-bottom:30px;
            
            &--btn{
                background-color: transparent;
                height: 40px;
                width: 40px;
                border: transparent;
                border-radius: 10px;
                cursor: pointer;
                &:hover{
                    background-color: #f4f4f4;
                }
            }
        }
        &-pics{
            text-align: -webkit-center;
            padding: 30px;
            height: 400px;
            width: 100%;
        }
        &-close {
            margin-left: auto;
            font-weight: bold;
            font-size: 40px;
            background: transparent;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            padding: 5px;
            width: 60px;
            height: 60px;
            &:hover{
                background-color: #f4f4f4;
            }
        }
        &-company{
            font-size: 30px;
            font-weight: 700;
            color: #aaa5ff;
        }
        &-date{
            font-size: 30px;
        }
        &-subtitle{
            font-weight: 30px;
            color:#868e96;
            font-weight: 500;
        }
        &-container{
            &-li{
                color:#868e96;
                margin: 10px 0;
            }
            &-title{
                padding:10px 0;
                font-weight: 600;
                > ul {
                    font-weight: 400;
                }
            }
        }
        &-description{
            white-space: normal;
            margin-top:12px;   
            padding-bottom: 1rem;
            border-bottom: 1px solid #ccc;
        }
    }
}
@media screen and (max-width: 1131px){
    .projects_title{
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .projects_container--card-banner {
        height: 11rem;
    }
    .projects_container--card{
        height: 90%;
    }
    .projects_container--card-role{
        font-size: 20px;
    }
    .projects_container--card-date{
        font-size: 18px;
    }
    .projects_container--card-subtitle-li,
    .projects_container--card-subtitle{
        font-size: 14px;
    }
}